version: '3.8'

services:
  webserver:
    container_name: zapfood_webserver
    # image: giapcn/zapfood:v2.0
    build:
      context: .
      dockerfile: Dockerfile.s390x
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./.env:/var/www/html/.env
    env_file:
      - .env
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html
    depends_on:
      - db
    restart: always
    networks:
      - zapfood-network

  # Database service
  db:
    container_name: zapfood_db
    image: ibmcom/mysql-s390x:8.0.25
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS:-root_password}
      MYSQL_DATABASE: ${DB_NAME:-zapfood}
      MYSQL_USER: ${DB_USER:-zap}
      MYSQL_PASSWORD: ${DB_PASS:-Zapfood@123}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    restart: always
    networks:
      - zapfood-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

networks:
  zapfood-network:
    driver: bridge

volumes:
  mysql_data:
